<tr>
	<td class="auto-style-rec2" rowspan="1" valign="top">
	<img border="0" src="TWIMAGEURL" width="200"><br />ROWCOUNT</td>
	<td class="auto-style-rec5" valign="top">
	<table cellpadding="3" cellspacing="3">
		<tr>
			<td class="auto-style-rec5" valign="top"><strong>Name:</strong></td>
			<td class="auto-style-rec4" colspan="3" valign="top"><strong>TWNAME</strong> (<a href="http://www.twitter.com/TWSCREENNAME" target="_blank">@TWSCREENNAME</a>, ID = TWITTER_ID)</td>
		</tr>
		<tr>
			<td class="auto-style-rec5" valign="top"><strong>Location:</strong></td>
			<td class="auto-style-rec4" colspan="3" valign="top">TWLOCATION</td>
		</tr>
		<tr>
			<td class="auto-style-rec5" valign="top"><strong>Description:</strong></td>
			<td class="auto-style-rec4" colspan="3" valign="top">TWDESCRIPTION</td>
		</tr>
		<tr>
			<td class="auto-style-rec4" valign="top">&nbsp;</td>
			<td class="auto-style-rec4" valign="top"><strong>TWFRIENDSCOUNT</strong> Friends</td>
			<td class="auto-style-rec4" valign="top"><strong>TWFOLLOWERSCOUNT</strong> Followers</td>
			<td class="auto-style-rec3"><font color="white"><strong>XXX</strong> Following</font></td>
		</tr>
	</table>
	</td>
</tr>
